@model TemplateListViewModel

@{
    ViewData!["Title"] = "Home Page";
}

<div class="text-center">
    Template editor
</div>
<a asp-action="StartNewTemplate">Upload new form</a><br/>
<a asp-action="TreeTableSample">Tree-table test</a>
<a asp-controller="EditModals" asp-action="TemplateBox"
   asp-route-docId="1"
   asp-route-pageIndex="0"
   asp-route-boxKey="Pdf field Family name">Box editor test</a>

<ul>
    @foreach (var item in Model!.Templates)
    {
        <li><a asp-action="BoxEditor" asp-route-docId="@item.Key.ToString()">@item.Value</a></li>
    }
</ul>