@model TemplateListViewModel

@{
    ViewData!["Title"] = "Home Page";
}

<div class="text-center">
    Template editor
</div>
<a asp-action="StartNewTemplate">Upload new form</a>

<ul>
    @foreach (var item in Model!.Templates)
    {
        <li><a asp-action="BoxEditor" asp-route-docId="@item">@item</a></li>
    }
</ul>