@using Form8snCore.FileFormats
@model WebFormFiller.Models.TemplateBoxModalViewModel

@{
    ViewBag!.Title = "Sample";
    Layout = "_Layout";
}

<script src="~/js/propertyInspector.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/formFillerStyles.css" asp-append-version="true"/>

<h2>Sample</h2>


<script>
function loadPartialToModal(url, targetId, nextAction){
    let targetElement = document.getElementById(targetId);
    if (!targetElement) return;
    
    let oReq = new XMLHttpRequest();
    
    oReq.onerror = function(evt) { targetElement.innerText = "An error occurred while transferring this UI element"; console.dir(evt); }
    oReq.onabort = function(evt) { targetElement.innerText = "The transfer has been canceled by the user."; console.dir(evt); }
    oReq.onload = function(e) {
        targetElement.innerHTML = oReq.responseText;
        if (nextAction) nextAction(e);
    }
    
    oReq.open('GET', url);
    oReq.send();
    
}
function showPickerModal() {
    let modal = document.getElementById('EditTemplateBox_DataMap');
    if (!modal) return;
    
    loadPartialToModal('@Model.LoadDataPickerUrl', 'EditTemplateBox_DataMap_Content', function(){modal.classList.add("active");});
}
function closeDataPathPicker(){
    let modal = document.getElementById('EditTemplateBox_DataMap');
    if (!modal) return;
    
    modal.classList.remove("active");
    
    let deadContent = document.getElementById('EditTemplateBox_DataMap_Content');
    if (deadContent) deadContent.innerHTML = "";
}
</script>

@* Initially invisible modal *@
<div class="modal active" id="EditTemplateBox_DataMap">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Choose a data path</div>
        </div>
        <div class="modal-body">
            <div class="content" style="width:30vw;height:50vh" id="EditTemplateBox_DataMap_Content">
                Failed to load from server!
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeDataPathPicker()">Cancel</button>
        </div>
    </div>
</div>

@* Trigger the editor *@
<script>
showPickerModal();
</script>